<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <?= isset($title) ? $title : 'Projeto Agenda' ?></title>
</head>
<body>
	<header id="topo-um" class="topo-um">
		<div class="container">
			<h1 class="logo-site">Crud da agenda</h1>

			<nav id="menu">
				<ul>
					<li><a href="<?= PATH ?>" alt="home">Home</a></li>
					<li><a href="<?= PATH ?>/sobre" alt="sobre">Sobre</a></li>
					<li><a href="<?= PATH ?>/contato" alt="contato">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section>
		<div class="container">